@media (min-width: 600px) {
body {
		background-color:#f0f0f0;
		background-image: url('./media/repeating.jpg');
	}
}
@media (min-width: 768px) {
		#main-navbar ul {
			flex-direction: row;
		}
		#main-navbar ul li {
			margin: 0 10px;
		}
		#project-name {
			font-size:35px;
		}
		#images-container img {
			max-width: 250px; 
		}
}
@media (min-width: 1024px) {
	.container {
		width: 60%;
	}
	#main-header {
		height: 100px;
	}
	#project-name {
		font-size: 40px;
	}
}

	
	
	
	