/* Mobile Styles */
@media (max-width: 768px) {
    #main-navbar {
        display: flex;
        flex-direction: column;
        align-items: center; 
    }

    #navbar-container ul {
        padding: 0; 
        margin: 0;  
    }

    #navbar-container ul li {
        list-style: none; 
        text-decoration: none; /
        margin: 10px 0; 
    }
}

@media (max-width: 480px) {
    #main-header {
        text-align: center; 
    }

    #main-content {
        padding: 10px; 
    }

    #main-media {
        display: flex;
        flex-direction: column;
        align-items: center; 
    }

    .slider {
        width: 100%; 
    }

    .slider img {
        width: 100%; 
        height: auto; 
    }
}
